---
layout: default
title: Home
---
<header class="home-header">
<p class="home-header__description">Hi I’m Marty, <span class="home-header__emphasis">front-end developer</span> , <span class="home-header__emphasis">UX consultant</span>      , and keen traveller. I work with <span class="home-header__emphasis">startups</span> and corporates, big and small,
  in <span class="home-header__emphasis">Melbourne</span> and around the world.</p>
</header>
<section class="article-list">
  <!---
  <div class="article-list__menu">
    <a href="#" class="article-list__menu-item active">All</a>
    <a href="#dev" class="article-list__menu-item">Development</a>
    <a href="#ux" class="article-list__menu-item">UX</a>
    <a href="#speaking" class="article-list__menu-item">Speaking</a>
    <a href="#os" class="article-list__menu-item">Open Source</a>
    <a href="#cv" class="article-list__menu-item">CV</a>
  </div>
  -->

  <div class="article-list__items">
    {% for post in site.posts %}
    <article class="article-list__item article article-abstract">
      <a href="{{ post.url }}" class="article-abstract__link"></a>
      <div class="article-abstract_content">
      <div class="article-abstract__meta">
        <div class="article-abstract__tags">
            <span class="article-abstract__category">DEV</span>
            <time class="article-abstract__date">{{ post.date | date_to_string }}</time>
          {% for tag in post.tags %}
            <span class="article-abstract__tag">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
      <h2 class="article-abstract__title">
          {{ post.title }}
    </h2>
    <p class="article-abstract__body">
      {{ post.content | strip_html | truncatewords: 40 }}
    </p>
    </div>
    </article>
    {% endfor %}
  </div>
</section>