@import '../mixins';
@import '../variables';

.article-list {
  &__items {
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    justify-content: center;
  }
  &__item {
    max-width: 400px;
    padding: 30px 0;

    @include breakpoint(desktop) {
      padding: 50px;
    }
  }
  &__menu {
    text-transform: uppercase;
    text-align: center;
    margin: 0 20%;
    border-bottom: 1px solid #ddd;
  }
  &__menu-item {
    display: inline-block;
    padding: 30px;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    color: #aaa;

    &:hover,
    &.active {
      color: #333;
    }
  }
  &__more {
    background: none;
    outline: none;
    border: none;
    text-align: center;
    display: block;
    width: 100%;
    margin: 20px;
    padding: 20px;


    &:hover {
      color: $primary;
    }
  }

  &.is--brief {
    .article-list__item:nth-child(n+7) {
      display: none;
    }
  }
}