@import '../variables';

.home-header {
  height: 260px;
  background: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__description {
    margin: 0;
    font-size: 20px;
    color: white;
    line-height: 2.2;
    max-width: 50%;
  }
  &__emphasis {
    color: #95989A;
    background: white;
    padding: 8px;
  }
  &__photo img {
    border-radius: 50%;
    max-height: 50%;
    margin-right: 20px;
  }
}