@import '../variables';
@import '../mixins';

.home-header {
  background: $primary;
  position: relative;

  @include breakpoint(desktop) {
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__description {
    margin: 0;
    font-size: 20px;
    color: white;
    line-height: 2.2;
    padding: 20px;

    @include breakpoint(desktop) {
      padding: 0;
      max-width: 50%;
    }
  }
  &__emphasis {
    color: #95989A;
    background: white;
    padding: 8px;
  }
  &__photo img {
    border-radius: 50%;
    max-height: 50%;
    margin: 20px;
    max-width: 200px;

    @include breakpoint(desktop) {
      margin: 0 20px 0 0;
    }
  }
}