@import '../variables';
.tech {
    text-align: center;

    &__item {
        display: inline-block;
        background: $primary;
        padding: 10px;
        margin: 0 10px 10px 0;
        color: white;
        font-size: 26px;
        font-weight: 400;
    }
}