---
layout: default
---
<header class="article-header">
  <div class="article__header-content">
    <div class="container">
      <div class="article-header__top">
          <span class="article__category">{{ page.category }}</span> {{ page.date | date_to_string }}
      </div>
      <h1 class="article__title">{{ page.title }}</h1>
    </div>
  </div>
  <div class="article-meta">
    <div class="container article-meta__container">
      <a href="/" class="article-meta__link"></a>
      <img src="/images/me.png" class="article-meta__image" alt="Profile photo of Marton Bodonyi" />
      <div class="article-meta__content">
        <div class="article-meta__author">
          by <strong>Marton Bodonyi</strong>
        </div>
        <div class="article-meta__byline">
          UX / UI Developer and Consultant - Melbourne, Australia
        </div>
      </div>
    </div>
  </div>
</header>
<div class="article">
  <div class="container article__body">
    {{ content }}
  </div>
</div>
<div class="container">
<div class="comments">
  <div id="disqus_thread"></div>
  <script>
  var disqus_config = function () {
  this.page.url = 'https://martsie.github.io{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = '//interactivejunky.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-articles">
    {% for article in site.related_articles limit:3 %}
      <li>
        <h3>
          <a href="{{ article.url }}">
            {{ article.title }}
            <small>{{ article.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
  </div>
</div>
